#DATUM_HEADING{
    color: black;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 2.5em;
    padding-left: 10px;
    margin-right: 0.5rem;
    font-family: sans-serif;
}

.nav-link{
  text-align: left;
  padding: 3px 10px;
  margin: 1px 2px;
  font-size:1.1em;
  font-weight: 500;
  color: black;
  font-family: inherit;
  font-style: normal;
  border-radius: 0.7em;
  transition: .5s;
}

.nav-link:hover{
  color: black;
  background-color: #e069a0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-profile{
    padding-top: 1%;
    padding-bottom: 2.5%;
    border-radius: 1em;
    margin: 7px;
    justify-content: center;
    display: flex;
}
.gradient-text {
  font-family: Druk,Impact,sans-serif;
  color: black;
  width: fit-content;
  font-weight: 600;
  font-size: 6em;
  text-align: center;
  margin-bottom: -5;
  margin-top: 10;
}

#info{
    padding: 35px 20px 30px 30px;
    border-radius: 3em;
    margin:  0% 10% 0% 0%;
    box-shadow: 0px 10px 20px 10px pink;
    width:27%;
}

#info_1{
    padding: 35px 20px 30px 30px;
    border-radius: 3em;
    margin: 0% 0% 0% 12%;
    box-shadow: 0px 10px 20px 10px pink;
    width:27%;
}

#abc{
  font-size:1em;
  font-weight: 700;
  color: black;
  font-family: inherit;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
  margin-right: 20%;
}
#abc_1{
  font-size:1.5em;
  font-weight: 700;
  color: black;
  font-family: inherit;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
  justify-content: center;
  display: flex;
}

#percentage_color_1{
    color: #28a745;
    display: block;
    text-align: center;
    font-size: 9em;
    justify-content: center;
    display: flex;
    margin-top:6%;
}

#percentage_color_2{
    color: #adc540;
    display: block;
    text-align: center;
    font-size: 9em;
    justify-content: center;
    display: flex;
    margin-top:6%;
}

#percentage_color_3{
    color: #ff8507;
    display: block;
    text-align: center;
    font-size: 9em;
    justify-content: center;
    display: flex;
    margin-top:6%;
}

#percentage_color_4{
    color: #c30000;
    display: block;
    text-align: center;
    font-size: 9em;
    justify-content: center;
    display: flex;
    margin-top:6%;
}
