{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ABOUT</title>
  <link rel="stylesheet" href="{% static 'about.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <div class="navb">
    <nav style='border-bottom: 1px solid rgb(221, 221, 221);' class="navbar navbar-expand-lg navbar-light">
      <img src="{% static 'logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="Logo">
      <a class="navbar-brand" id='DATUM_HEADING' href="{% url 'login_url' %}">DATUM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">

          </li>
        </ul>
        <a class="nav-link" href="{% url 'about_url' %}">ABOUT </a>
        <a class="nav-link" href="{% url 'developers_url' %}">DEVELOPERS </a>
      </div>
    </nav>
  </div>
  <div class='user-profile' style="margin:3% auto 1% -2%;">
    <h1 class="gradient-text" style="font-size:4.5em;">ABOUT US</h1>
  </div>
  <p class="ft_1" style="margin-bottom:5%;">
    <strong>DATUM</strong> is a fully computerized system designed to manage, store, track, retrieve, and analyze student-related information.
    The data is saved at a centralized location & role-based login access is given to all the stakeholders for ensuring student data security.
  </p>
  <img class="break" src="{% static 'break.png' %}">
  <div>
    <div class='user-profile' style="margin-top:4%;">
      <h1 class="gradient-text" style="font-size:4.5em;">BUSINESS INFO</h1>
    </div>
    <div style="justify-content:center;display:flex;">
      <img class="imu" src="{% static 'business.png' %}">
    </div>
    <div class='user-profile' style="margin-top:1%;margin-bottom:3%;">
      <h1 style="font-style:inherit;font-size:1.7em;font-weight:600;">FOUNDED ON 20 MARCH 2021</h1>
    </div>
  </div>

  <img class="break" src="{% static 'break.png' %}">

  <div class='user-profile' style="margin-top:4%;">
    <h1 class="gradient-text" style="font-size:4.5em;">FEATURES OF DATUM</h1>
  </div>
  <p class="ft">
    This website is designed specifically for educational institutes keeping in mind their needs and demands.We have worked even on minute details to make the user experience more dynamic and easy.
    The vast amount of information generated by every student can systematically and efficiently be updated on the DATUM, thereby facilitating the administration to manage as well as organize all kinds of information, ready to be used as and when
    needed. A student's progress can also be tracked with the help of various analytic tools and dashboards available.
  </p>
  <img class="break" src="{% static 'break.png' %}">

  <div class='user-profile' style="margin-top:4%;margin-bottom:1%;">
    <h1 class="gradient-text" style="font-size:4.5em;">BENEFITS OF DATUM</h1>
  </div>
  <div class="container" style=" margin:0% 0% 6% 12%;">
    <div class="row">
      <div class=" col-sm-12 col-md-6 col-lg-6">
        <div class="our-team">
          <h2 style="margin-bottom: 4%;">For <strong>TEACHERS :</strong></h2>
          <ul style="margin-top:1%;">
            <li>Access to student information</li>
            <li>Marks to analyze their individual performances</li>
            <li>Access to timetable, daily attendance, etc</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="our-team">
          <h2 style="margin-bottom: 4%;">For <strong>STUDENTS :</strong></h2>
          <ul>
            <li>Hassle-free student data management</li>
            <li>Accurate reports on students’ performance.</li>
            <li>Gives the information related to attendance</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img class="break_1" src="{% static 'break.png' %}">

</body>

</html>
